<li>
  <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
    <svg class="bi me-2 opacity-50" aria-hidden="true">
      <use href="/assets/images/site/moon-stars-fill.svg#moon-stars-fill"></use>
    </svg>
    Dark
  </button>
</li>
<li>
  <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
    <svg class="bi me-2 opacity-50" aria-hidden="true">
      <use href="/assets/images/site/sun-fill.svg#sun-fill"></use>
    </svg>
    Light
  </button>
</li>
<li>
  <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
    <svg class="bi me-2 opacity-50" aria-hidden="true">
      <use href="/assets/images/site/circle-half.svg#circle-half"></use>
    </svg>
    Auto
  </button>
</li>
