<div class="notice">
  <strong>[DISCLAIMER]</strong> This post has the <a href="/categories#ADHD">ADHD tag</a>. One way that I'm learning to deal with having ADHD is by thinking and talking about it more, so that I can better understand myself. My thoughts are not medical advice, nor are they intended to minimize the challenges people with ADHD face daily. They are my thoughts about my life, which you are welcome to read or ignore as you see fit.
</div>
<hr />