
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	{% include 'head.njk' %}
  <body>
    {% include 'navbar.njk' %}
    <div id="main" role="main" class="container mt-3 mb-3">
      {{ content | safe }}
    </div>
  </body>

  {% include 'footer.njk' %}
  {% include 'js.njk' %}
</html>