<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
  <div class="card w-100">
    <div>
      <h3>{{ deskmat.name }}</h3>
      {% if deskmat.picture %}
        <img loading="lazy" src="/assets/images/deskmats/catalog/{{ deskmat.picture }}" alt="{{ deskmat.name }}" class="img-zoom" data-bs-toggle="modal" data-bs-target="#image-zoom-modal">
      {% endif %}
      {% if deskmat.status == "Wishlist" %}
        <ul>
          <li>Deskmat</li>
        </ul>
      {% endif %}
    </div>
  </div>
</div>
