<figure class="{{ position }}">
  <a href="{% if url %}{{ url }}{% else if srcabs %}{{ srcabs }}{{ else }}/assets/images/{{ src }}{% endif %}">
    <img src="{% if srcabs %}{{srcabs}}{% else %}/assets/images/{{src}}{% endif %}" alt="{{ alt }}">
  </a>
  {% if caption %}
  <figcaption>{{ caption }}</figcaption>
  {% endif %}
</figure>