<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/littlefoot.js" type="application/javascript"></script>
<script type="application/javascript">
  littlefoot.littlefoot({
    allowDuplicates: false, 
    buttonTemplate: `<button
  aria-label="Footnote <% number %>"
  class="littlefoot__button"
  id="<% reference %>"
  title="See Footnote <% number %>"
/>
  <% number %>
</button>`
  })
</script>
<script type="module" src="/assets/js/colorpick.js"></script>