<div class="center-heading">
<h2>Latest Posts</h2>
</div>

<div class="blog">
  {% set latest_posts = collections.post | reverse %}
  {% set postList = latest_posts.slice(0, 6) %}
  {% for post in postList %}
    {%- if post.data.hidden != true -%}
      {% include 'post-item.njk' %}
    {%- endif -%}
  {%- endfor -%}
  <div class="w-100 mt-1 mb-5">
    <p class="text-center">
      <a href="blog">View all posts →</a>
    </p>
  </div>
</div>

<hr/>

<div class="center-heading">
<h2>Apps</h2>
</div>

<div class="container card-container">
  <div class="row">
    {% set latest_apps = collections.App | reverse %}
    {% set appList = latest_apps.slice(0, 3) %}
    {% set cardWidth = "col-lg-6" %}
    {% for item in appList %}
      {% include "card-item.njk" %}
    {% endfor %}
  </div>
  <div class="w-100 mt-1 mb-3">
    <p class="text-center">
      <a href="apps-projects">View all apps →</a>
    </p>
  </div>
</div>

<hr/>

<div class="center-heading">
<h2>Latest Projects</h2>
</div>

<div class="container card-container">
  <div class="row">
    {% set latest_projects = collections.Project | reverse %}
    {% set projectList = latest_projects.slice(0, 3) %}
    {% set cardWidth = "col-lg-4" %}
    {% for item in projectList %}
      {% include "card-item.njk" %}
    {% endfor %}
  </div>
  <div class="w-100 mt-1 mb-3">
    <p class="text-center">
      <a href="apps-projects">View all projects →</a>
    </p>
  </div>
</div>