<nav class="navbar navbar-expand-xxl navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% svg "images/site/monogram" %}
      nic lake<span class="me">(me)</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {%- for nav in navigation -%}
          {% if nav.masthead != false %}
            {% if nav.url == page.url %}
              {% set classes = "nav-item active" %}
            {% elif layout == 'post.njk' and nav.text == 'Blog' %}
              {% set classes = "nav-item active" %}
            {% else %}
              {% set classes = "nav-item" %}
            {% endif %}
            <li class="{{ classes }}">
              <a {% if nav.rel %}rel="me"{% endif %} class="nav-link" href="{{ nav.url }}">{{ nav.text | safe }}</a>
            </li>
          {% endif %}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>