<meta property="og:title" content="{{ title }}">
<meta property="twitter:title" content="{{ title }}">
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.config.description }}{% endif %}">
<meta name="og:description" content="{% if description %}{{ description }}{% else %}{{ site.config.description }}{% endif %}">
<meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.config.description }}{% endif %}">
<meta property="og:url" content="{{ site.config.baseurl }}{{ page.url }}">
<meta property="og:site_name" content="Nic Lake">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ site.config.baseurl }}/assets/images/{% if page.image %}{{ image }}{% else %}site/me.png{% endif %}">
<meta property="twitter:image" content="{{ site.config.baseurl }}/assets/images/{% if page.image %}{{ image }}{% else %}site/me.png{% endif %}">
<meta property="fediverse:creator" content="niclake@mastodon.social" />