---
layout: default
is_post: true
---

<article class="post single-post">
  <div class="center-heading">
    <h1 class="postTitle">{{ title }}</h1>

    <div class="date">
      {{ date | postDate }} • 
      {% set isADHD = "false" %}
      {% set isTherapy = "false" %}
      {% for tag in tags | filterTagList %}
        {% if tag == "ADHD" %}
          {% set isADHD = "true" %}
        {% endif %}
        {% if tag == "Therapy" %}
          {% set isTherapy = "true" %}
        {% endif %}
        <a class="post-tag" href="/blog/tags#{{ tag | slugify }}">#{{ tag }}</a>&nbsp;
      {% endfor %}
    </div>
  </div>

  <div class="entry">
    {% include 'st-jude.njk' %}
    {% if isADHD == "true" %}
      {% include 'adhd.njk' %}
    {% endif %}
    {% if isTherapy == "true" %}
      {% include 'therapy.njk' %}
    {% endif %}
    {{ content | safe }}
    {% svg "images/site/monogram" %}
  </div>
</article>