<div class="notice">
  <p><strong>September is Childhood Cancer Awareness Month</strong>, and I'm raising money in conjunction with the Relay podcast network. Relay has raised over $4 million for St. Jude since 2019, and I'm proud to have been a part of that over the years.</p>
  <p>You can <a href="https://tiltify.com/@niclake/nic-lake-for-st-jude-2025" target="_blank">donate directly to my campaign here</a>, or read the related blog post <a href="/blog/st-jude-2025">here</a>.</p>
  <script src='https://septembed.rknight.me/sj.js?u=https://tiltify.com/@niclake/nic-lake-for-st-jude-2025'></script>
</div>
<hr />