<div class="notice">
  <strong>[DISCLAIMER]</strong> This post has the <a href="/categories#Therapy">Therapy tag</a>. My journey through therapy is personal and unique to me. I share it here in the hopes that it might help others, but I am not a therapist, and my experiences are not a substitute for professional help. If you are struggling, please reach out to a mental health professional.
</div>
<hr />