---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives">
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
  {% assign sorted_posts = category[1] | sort: 'title' %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="{{ category_name | slugize }}"></div>    
      <h3 class="category-head">{{ category_name | replace: "-", " " }}</h3>

      <ul class="no-list-style">
        {% for post in site.categories[category_name] %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} <span class="post-date">{{ post.date | date: "%e %B %Y" }}</span></a></li>
        {% endfor %}
      </ul>
  </div>
{% endfor %}
</div>