---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="date">
        Written on {{ post.date | date: "%B %e, %Y" }}
        <br />
        {%- capture category_list -%}
          {%- if post -%}
            {%- assign categories = post.categories -%}
          {%- else -%}
            {%- assign categories = page.categories -%}
          {%- endif -%}
          {%- for category in categories -%}
            <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>|
          {%- endfor -%}
        {%- endcapture -%}
        Posted under {{ category_list | split: "|" | join: ", " }}
      </div>

      <div class="entry">
        {{ post.excerpt }}
        {% capture content_words %} 
  	      {{ post.content | number_of_words }} 
  	    {% endcapture %} 
  	    {% capture excerpt_words %} 
  	      {{ post.excerpt | number_of_words }} 
  	    {% endcapture %} 
  	    {% if excerpt_words != content_words %}
    	    <a href="{{ site.baseurl }}{{ post.url }}/#read-more" class="read-more">Read More <i class="fa-solid fa-circle-arrow-right"></i></a>
  	    {% endif %}
      </div>
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous 
      </a>&nbsp;|
    {% endif %}
    <span class="page_number">
      &nbsp;Page {{ paginator.page }} of {{ paginator.total_pages }}&nbsp;
    </span>
    {% if paginator.next_page %}
      |&nbsp;<a href="{{ paginator.next_page_path }}" class="next">
        Next
      </a>
    {% endif %}
  </div>
</div>