---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="date">
        {%- capture category_list -%}
          {%- if post -%}
            {%- assign categories = post.categories -%}
          {%- else -%}
            {%- assign categories = page.categories -%}
          {%- endif -%}
          {%- for category in categories -%}
            <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>|
          {%- endfor -%}
        {%- endcapture -%}
        {{ post.date | date: "%e %B %Y" }} • {{ category_list | split: "|" | join: " • " }}
      </div>

      <div class="entry">
        {{ post.content }}
      </div>
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous 
      </a>&nbsp;|
    {% endif %}
    <span class="page_number">
      &nbsp;Page {{ paginator.page }} of {{ paginator.total_pages }}&nbsp;
    </span>
    {% if paginator.next_page %}
      |&nbsp;<a href="{{ paginator.next_page_path }}" class="next">
        Next
      </a>
    {% endif %}
  </div>
</div>