{% if site.footer-links.mastodon %}<a href="https://{{ site.footer-links.mastodon }}"><i class="fa-brands fa-mastodon"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="fa-brands fa-instagram"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="fa-brands fa-github"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fa-brands fa-linkedin-in"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="fa-solid fa-envelope"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fa-solid fa-square-rss"></i></a>{% endif %}

