<head>
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Nic Lake" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="theme-color" content="#282a36" />

  {% if page.url != "/" and page.name != "archive.html" and page.name != "categories.html" %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="article">
    
    {% if page.image %}
      <meta property="og:image" content="{{ site.baseurl }}{{ page.image }}">
    {% else %}
      <meta property="og:image" content="{{ site.baseurl }}/images/me.png">
    {% endif %}
    
    {% if page.description %}
      <meta property="og:description" content="{{ page.description }}">
    {% else %}
      <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50 }}">
    {% endif %}

    <meta name="twitter:card" content="summary{% if page.image %}_large_image{% endif %}" />
    <meta name="twitter:site" content="@niclake" />
    <meta name="twitter:creator" content="@niclake" />
  {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
  {% endif %}

  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/site/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/site/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/site/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/site/icons/site.webmanifest">
  <link rel="shortcut icon" href="/assets/images/site/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#44475a">
  <meta name="msapplication-config" content="/assets/images/site/icons/browserconfig.xml">
  <meta name="theme-color" content="#44475a">
  <script src="https://kit.fontawesome.com/4b51167d16.js" crossorigin="anonymous"></script>

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="Nic Lake" href="/feed.xml">
</head>
