<head>
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>

  <meta charset="utf-8" />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta name="author" content="Nic Lake" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  {% if page.url != "/" and page.name != "archive.html" and page.name != "categories.html" %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50 }}">
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="article">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="rgb(215, 219, 223)" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="rgb(10, 31, 43)" />
  
  {% if page.image %}
  <meta property="og:image" content="{{ site.baseurl }}{{ page.image }}">
  {% endif %}

  <meta name="twitter:card" content="summary{% if page.image %}_large_image{% endif %}" />
  <meta name="twitter:site" content="@niclake" />
  <meta name="twitter:creator" content="@niclake" />
  {% else %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}" />
  {% endif %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="https://kit.fontawesome.com/4b51167d16.js" crossorigin="anonymous"></script>

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="Nic Lake" href="/feed.xml">
</head>