.footer {
  i {
    font-size: 40px;
    display: inline-block;
    padding: 5px;
    color: #fff;
  }

  .fa-mastodon { color: #6364FF; }
  .fa-instagram { color: #dd2a7b; }
  .fa-github { color: #000; }
  .fa-linkedin-in { color: #0072b1; }
  .fa-envelope { color: #fff; }
  .fa-square-rss { color: #ee802f; }

}