// Colors
$black: #282a36; // 40, 42, 54
$pure-black: #000000; // 0, 0, 0
$grey: #44475a; // 68, 71, 90
$lightGrey: #6272a4; // 98, 114, 164
$white: #d0d0d0; // 208, 208, 208
$pure-white: #ffffff; // 255, 255, 255
$red: #ff5555; // 255, 85, 85
$orange: #ffb86c; // 255, 184, 108
$yellow: #f1fa8c; // 241, 250, 140
$green: #50fa7b; // 80, 250, 123
$cyan: #8be9fd; // 139, 233, 253
$purple: #bd93f9; // 189, 147, 249
$pink: #ff79c6; // 255, 121, 198

:root {
  --bs-primary-rgb: 98, 114, 164;
  --bs-link-color: rgb(255, 184, 108);
  --bs-link-color-rgb: rgb(255, 184, 108);
  --bs-link-hover-color: rgb(80, 250, 123);
  --bs-link-hover-color-rgb: rgb(80, 250, 123);
  --bs-body-color: $black;
  --bs-code-color: $orange;
  --bs-font-sans-serif: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f1fa8c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238be9fd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

// Font stacks
$serif: Georgia, serif;
$sansSerif: -apple-system,system-ui,sans-serif;
$headers: 'Orbitron', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}