.accordion {
  background-color: transparent;
  
  .accordion-item {
    background-color: transparent;
    border: 0px solid transparent;

    .accordion-header {
      padding: 0;

      .accordion-button {
        background-color: transparent;
        padding: 0.5rem;
        font-size: inherit;
        font-weight: bold;
        font-family: var(--headers);
        color: var(--yellow);

        &::after {
          background-image: none;
        }

        &:not(.collapsed) {
          background-color: var(--grey);
          color: var(--cyan);
          box-shadow: none;
        }
      }
    }

    .accordion-body {
      padding: 1rem 0 0;
      color: var(--white);
      p {
        margin-bottom: 0;
      }
    }
  }
}