footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem 0;
  color: var(--text-sub);

  a {
    color: var(--text-sub);
  }

  .bottom-border {
    height: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--cyan);
    background-image: linear-gradient(in oklch to right, var(--pink), var(--purple));
  }
}