.entry, 
.date,
.home,
.back,
.btn-nl-primary {
  a {
    background-image: linear-gradient(to right, var(--pink) 0%, var(--purple) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: var(--pure-white);
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 2px;
    transition: all ease 0.3s;

    code {
      -webkit-text-fill-color: var(--cyan);
      transition: all ease 0.3s;
    }

    .post-date {
      color: var(--light-grey) !important;
    }

    .photo-link {
      background-color: transparent !important;
      border-radius: 0 !important;
      padding: 0 !important;
      text-decoration: none !important;
    }

    &:hover,
    i:hover {
      -webkit-text-fill-color: transparent;
      text-decoration-color: transparent;

      code {
        -webkit-text-fill-color: var(--green) !important;
      }
    }
  }
}

.btn-nl-primary {
  display: inline-flex;
  background-color: var(--grey);
  color: var(--pure-white);
  border-radius: 10px;
  border: 3px solid linear-gradient(to right, var(--pink) 0%, var(--purple) 75%);
  font-weight: 500;
  margin-bottom: 5px;
  transition: all ease 0.3s;

  .tag-bubble {
    padding: 5px 10px;
    text-decoration: none;
  }

  &:hover {
    background-color: var(--pure-black);
  }
}