:root {
  // Pure colors
  --pure-black: #000000; // 0, 0, 0
  --pure-white: #ffffff; // 255, 255, 255

  // Fonts
  --serif: Georgia, serif;
  --sans-serif: -apple-system, system-ui, sans-serif;
  --headers: 'Orbitron', sans-serif;
  --code: 'Hack','Courier', monospace;

  // Bootstrap
  --bs-font-sans-serif: var(--sans-serif);
  --bs-font-monospace: var(--code);
  --bs-link-color: var(--orange);
  --bs-link-hover-color: var(--green);
  --bs-code-color: var(--cyan);
  --bs-emphasis-color: var(--emphasis);
  --bs-body-color: var(--text-sub);
  --bs-body-bg: var(--background);
  --bs-dropdown-link-active-color: var(--text);
  --bs-dropdown-link-active-bg: var(--text-sub);
  --bs-dropdown-link-hover-color: var(--emphasis);
  --bs-dropdown-link-hover-bg: var(--grey);
  --comment: var(--background);
}

[data-bs-theme=dark] {
  color-scheme: dark;
  // Colors
  --background: #282a36; // 40, 42, 54
  --card-shadow: #1D1B29;
  --text: #d0d0d0; // 208, 208, 208
  --text-sub: #6272a4; // 98, 114, 164
  --grey: #44475a; // 68, 71, 90
  --red: #ff5555; // 255, 85, 85
  --orange: #ffb86c; // 255, 184, 108
  --yellow: #f1fa8c; // 241, 250, 140
  --green: #50fa7b; // 80, 250, 123
  --cyan: #8be9fd; // 139, 233, 253
  --purple: #bd93f9; // 189, 147, 249
  --pink: #ff79c6; // 255, 121, 198

  // Sub-variables
  --emphasis: var(--pure-white);
  --bs-emphasis-color-rgb: 255, 255, 255;
  --reverse-emphasis: var(--pure-black);

  @supports (color: oklch(0 0 0)) {
    --background: oklch(0.288 0.022 277.5); // 40, 42, 54
    --card-shadow: oklch(0.226 0.022 277.5);
    --text: oklch(0.858 0.000 0.0); // 208, 208, 208
    --text-sub: oklch(0.560 0.080 270.1); // 98, 114, 164
    --grey: oklch(0.403 0.032 277.8); // 68, 71, 90
    --red: oklch(0.682 0.206 24.4); // 255, 85, 85
    --orange: oklch(0.834 0.124 66.6); // 255, 184, 108
    --yellow: oklch(0.955 0.134 112.8); // 241, 250, 140
    --green: oklch(0.871 0.220 148.0); // 80, 250, 123
    --cyan: oklch(0.883 0.093 212.8); // 139, 233, 253
    --purple: oklch(0.742 0.149 301.9); // 189, 147, 249
    --pink: oklch(0.755 0.183 346.8); // 255, 121, 198
  }
}

[data-bs-theme=light] {
  color-scheme: light;
  // Colors for Light Mode (Alucard)
  --background: #FFFBEB; // 255, 251, 235
  --card-shadow: #F2EEDE;
  --text: #2F2F2F; // 47, 47, 47
  --text-sub: #6C664B; // 108, 102, 75
  --grey: #BBB8A5; // 68, 71, 90
  --red: #CB3A2A; // 203, 58, 42
  --orange: #A34D14; // 163, 77, 20
  --yellow: #846E15; // 132, 110, 21
  --green: #14710A; // 20, 113, 10
  --cyan: #036A96; // 3, 106, 150
  --purple: #644AC9; // 100, 74, 201
  --pink: #A3144D; // 163, 20, 77

  // Sub-variables
  --emphasis: var(--pure-black);
  --bs-emphasis-color-rgb: 0, 0, 0;
  --reverse-emphasis: var(--pure-white);

@supports (color: oklch(0 0 0)) {
    --background: oklch(0.987 0.021 95.3); // 255, 251, 235
    --card-shadow: oklch(0.925 0.021 95.3);
    --text: oklch(0.305 0.000 0.0); // 47, 47, 47
    --text-sub: oklch(0.508 0.041 97.1); // 108, 102, 75
    --grey: oklch(0.780 0.026 99.6); // 68, 71, 90
    --red: oklch(0.563 0.184 30.1); // 203, 58, 42
    --orange: oklch(0.521 0.131 48.5); // 163, 77, 20
    --yellow: oklch(0.544 0.104 93.9); // 132, 110, 21
    --green: oklch(0.478 0.155 141.9); // 20, 113, 10
    --cyan: oklch(0.496 0.106 236.2); // 3, 106, 150
    --purple: oklch(0.509 0.188 287.1); // 100, 74, 201
    --pink: oklch(0.468 0.177 5.0); // 163, 20, 77
  }
}