---
---

@import "variables";

// /**************/
// /* BASE RULES */
// /**************/

html {
  height: 100%;
  font-size: 1.2em;
  // font-size: 100%;
}

body {
  background: -webkit-linear-gradient($black, $grey);
  background-attachment: fixed;
  font-family: $sansSerif;
  line-height: 1.6;
  color: $white;
  height: 100%;
}

@media (min-width: 1200px)  {
  #main.container {
      max-width: 1000px !important;
  }
}

a {
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;

  &:hover, &:visited, &:active {
    text-decoration: none;
  }
}

.navbar {
  background-color: transparent !important;

  .navbar-brand,
  .nav-link {
    font-weight: bold;
    font-family: $headers;
  }
  
  .navbar-brand {
    font-size: 3.5rem;
    color: $pink !important;

    &:hover {
      color: $white !important;
    }

    span {
      font-size: 1rem;
      color: $cyan !important;
    }
  }

  .nav-link {
    font-size: 1.25rem;

    &:hover {
      color: $green !important;
    }
  }

  @media (max-width: 489px)  {
    .navbar-brand {
      font-size: 2rem;
    }

    .nav-link {
      font-size: 1rem;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: $headers;
}

h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.post h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

h1 {
  color: $pink;
}

h2 {
  color: $green;
}

h3 {
  color: $yellow;
}

h4 {
  color: $orange;
}

p {
  margin: 0 0 1rem;
  line-height: 1.6em;
  
  strong, b { 
    font-weight: 800; 
  } 

  em, i { 
    font-style: italic; 
  }
}

dl, ol, ul {
  margin: 0 0 1rem;

  &.no-list-style {
    list-style: none;
    padding-left: 0;
  }
}

ul, ol {
  padding-left: 2rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

span {
  &.post-date {
    float: right;
    color: $lightGrey;
    font-size: 1rem;
    font-family: $sansSerif;
    font-weight: 400;
  }
}

hr {
  height: 3px;
  opacity: 0.5;
  background: linear-gradient(to right, $pink, $purple);
  color: transparent;
}

pre {
  padding: 1rem;
  background-color: $black;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  font-family:'Hack','Courier', monospace;
  color: $cyan;
  word-wrap: break-word;
}

blockquote {
  border-left: 2px solid $pink;
  padding-left: 30px;
}

// /******************/
// /* SPECIFIC RULES */
// /******************/

.post {
  &:not(.single-post) {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, $pink, $purple);
    border-image-slice: 1;
  }
}

.post, .pagination, .page {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.pagination {
  display:block;
  text-align: center;
  margin: 0 auto;
}

.page h3 {
  padding: .5rem 0;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, $pink, $purple);
  border-image-slice: 1;
}

.date {
  color: $lightGrey;
  margin-bottom: .5rem;
}

.entry {
  a.photo-link {
    background-color: transparent !important;
    border-radius: 0 !important;
    padding: 0 !important;
    text-decoration: none;
  }
}

.footer {
  height: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $cyan;
  background-image: linear-gradient(to right, $pink, $purple)
}

img {
  max-width: 100%;
  border-radius: 15px;
  display: block;
  margin: 0 auto;

  &.photo {
    width: 250px;
  }

  &.photo-right {
    float: right;
    margin-left: 15px;
  }

  &.photo-left {
    float: left;
    margin-right: 15px;
  }

  &.bigger {
    width: 400px !important;
  }
}

@media (max-width: 991px)  {
  img {
    &.photo {
      width: 100%;
    }

    &.photo-left, &.photo-right {
      float: none !important;
      margin: 0 auto;
    }
  }
}

.card {
  background-color: $black;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;

  h3 {
    padding: 0 0 .5rem 0;
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 1rem;
  }

  &.color-box {
    text-align: center;
    width: 100%;
  
    .the-color {
      border: 3px solid $white;
      border-radius: 10px;
      display: block;
      width: 100%;
      height: 100px;
      margin-bottom: 10px;
    }
  }
}

// /**************/
// /*   COLORS   */
// /**************/

.black {
  color: $black;
}
.black-bg {
  background-color: $black;
}
.grey {
  color: $grey;
}
.grey-bg {
  background-color: $grey;
}
.lightGrey {
  color: $lightGrey;
}
.lightGrey-bg {
  background-color: $lightGrey;
}
.white {
  color: $white;
}
.white-bg {
  background-color: $white;
}
.red {
  color: $red;
}
.red-bg {
  background-color: $red;
}
.orange {
  color: $orange;
}
.orange-bg {
  background-color: $orange;
}
.yellow {
  color: $yellow;
}
.yellow-bg {
  background-color: $yellow;
}
.green {
  color: $green;
}
.green-bg {
  background-color: $green;
}
.cyan {
  color: $cyan;
}
.cyan-bg {
  background-color: $cyan;
}
.purple {
  color: $purple;
}
.purple-bg {
  background-color: $purple;
}
.pink {
  color: $pink;
}
.pink-bg {
  background-color: $pink;
}

// Footnotes courtesy of littlefoot.js
.littlefoot {
  --button-background-color: #bd93f9;
  --button-text-color: #f8f8f2;
  --button-active-text-color: #282a36;
  --button-active-background-color: #f55;
  --popover-background-color: #282a36;
  --popover-text-color: #f8f8f2;
  --popover-border: 2px solid #ff79c6;
  --popover-shadow: 0 0 10px rgba(0, 0, 0, .5);
  margin-left: .25rem;

  .littlefoot__content p {
    margin: 0;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
