---
permalink: /apps-projects/index.html
title: Apps and Projects
---

<p>Below is a list of the various apps and projects that I have worked on and released over the years. These include iOS apps, sports stuff, music, various code projects, writings, and more.</p>

<p>If you enjoy any of these, and would like to support my work, you can <a href="https://ko-fi.com/niclake">buy me a coffee</a>. If you'd like to hire me, <a href="/hello">please reach out</a>.</p>

<hr />

{% set latest_apps = collections.App | reverse %}
{% if latest_apps | length > 0 %}
<div class="center-heading">
<h2 id="apps">Apps</h2>
</div>

<div class="container card-container">
  <div class="row">
    {% set appList = latest_apps.slice(0, 3) %}
    {% set cardWidth = "col-lg-6" %}
    {% set cardFor = "app" %}
    {% for item in appList %}
      {% include "card-item.njk" %}
    {% endfor %}
  </div>
</div>

<hr/>
{% endif %}

<div class="center-heading">
<h2 id="projects">Projects</h2>
</div>

<div class="container card-container">
  <div class="row">
    {% set cardWidth = "col-lg-4" %}
    {% set cardFor = "project" %}
    {% for item in collections.Project | reverse %}
      {% include "card-item.njk" %}
    {% endfor %}
  </div>
</div>