---
permalink: /blog/index.html
title: Blog
---

<div class="blog">
  {% set currentYear = "" %}
  {% for post in collections.post | reverse %}
    {% set postYear = post.date.getFullYear() %}
    {% if currentYear != postYear %}
      {% set currentYear = postYear %}
      {% postGraph collections.post, { "only": "["+postYear+"]" } %}
    {% endif %}
    {% include 'post-item.njk' %}
  {% endfor %}
</div>
