---
title: Explore
permalink: /explore/index.html
---

<div class="container">
  <div class="row">
    {%- for page in navigation -%}
      {% if page.explore != false %}
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
          <div class="card w-100">
            <div>
              <h4 class="{{ page.text | lower }}">
                <a href="{{ page.url }}">{{ page.text }}</a>
              </h4>
              <p>{{ page.blurb }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
</div>