---
title: Explore
permalink: /explore/index.html
---

<div class="container card-container">
  <div class="row">
    {%- for page in navigation -%}
      {% if page.explore != false %}
        <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
          <div class="card w-100">
            <div>
              <h4 class="{{ page.text | lower }}">
                <a href="{{ page.url }}">{{ page.text }}</a>
              </h4>
              <p>{{ page.blurb }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>

  <hr/>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
      <div class="card w-100">
        <div>
          <h4><a href="/catalog/">Catalog</a></h4>
          <p>A central hub for all my hobby catalogs — books, games, keyboards, and filaments.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
      <div class="card w-100">
        <div>
          <h4><a href="/catalog/bookshelf/">Bookshelf</a></h4>
          <p>A catalog of books I've read and am currently reading.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
      <div class="card w-100">
        <div>
          <h4><a href="/catalog/filaments/">Filaments</a></h4>
          <p>A catalog of 3D printer filaments I have on hand.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
      <div class="card w-100">
        <div>
          <h4><a href="/catalog/games/">Games</a></h4>
          <p>A catalog of games I'm playing, mean to play, and have finished.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
      <div class="card w-100">
        <div>
          <h4><a href="/catalog/keyboards/">Keyboards</a></h4>
          <p>A catalog of keyboards I've built and am interested in building.</p>
        </div>
      </div>
    </div>
  </div>
</div>