---
title: Keyboards
permalink: /catalog/keyboards/index.html
---

<div class="container card-container">
  <div class="row">
    {%- for keyboard in catalog.keyboards.builtKeyboards %}
      {% include "keyboarditem.njk" %}
    {%- endfor %}
  </div>
  <hr/>
  <div class="center-heading"><h2>Unbuilt Keyboards</h2></div>
  <div class="row">
    {%- for keyboard in catalog.keyboards.unbuiltKeyboards %}
      {% include "keyboarditem.njk" %}
    {%- endfor %}
  </div>
  <hr/>
  <div class="center-heading"><h2>Wishlist</h2></div>
  <div class="row">
    {%- for keyboard in catalog.keyboards.wishlistKeyboards %}
      {% include "keyboarditem.njk" %}
    {%- endfor %}
  </div>
</div>