---
title: Now
permalink: /now/index.html
---

{% set latest_nows = collections.Now | reverse %}
{% set nowPost = latest_nows.slice(0, 1) %}
{% for post in nowPost %}
  <div class="center-heading">
    <b>Last updated: {{ post.date | postDate }}</b> (<a href="/blog/tags#now">Previous Entries</a>)
  </div>
  <div>{{ post.content | safe }}</div>
{% endfor %}
{# <hr /> #}
{# {%- include "current-book.njk" %} #}