---
title: Now
permalink: /now/index.html
---

{% set latest_nows = collections.Now | reverse %}
{% set nowPost = latest_nows.slice(0, 1) %}
{% for post in nowPost %}
  <div class="center-heading">
    <div class="date">
      {{ post.date | postDate }}<br/>
      <a href="{{base.url}}tags#now">See Previous Entries Here</a>
    </div>
  </div>
  <div>{{ post.content | safe }}</div>
{% endfor %}

{% markdown %}
  {%- include 'now-stuff.md' -%}
{% endmarkdown %}