<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include masthead.html %}
    
    <div id="main" role="main" class="container mt-3 mb-3">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include analytics.html %}

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="application/javascript"></script>
    <script type="application/javascript">
      littlefoot.littlefoot({
        allowDuplicates: false, 
        numberResetSelector: 'article.post',
      })
    </script>
  </body>
</html>
