---
layout: default
is_post: true
---

<article class="post single-post">
  <div class="back">
    <a href="{{ site.baseurl }}/blog/">← Return to blog</a>
  </div>
  <h1 class="postTitle">{{ page.title }}</h1>

  <div class="date">
    {%- capture category_list -%}
      {%- if post -%}
        {%- assign categories = post.categories -%}
      {%- else -%}
        {%- assign categories = page.categories -%}
      {%- endif -%}
      {%- for category in categories -%}
        <a href="{{site.baseurl}}/categories#{{category|slugize}}">{{category}}</a>|
      {%- endfor -%}
    {%- endcapture -%}
    {{ page.date | date: "%e %B %Y" }} • {{ category_list | split: "|" | join: " • " | replace: "-", " " }}
  </div>

  <div class="entry">
    {{ content | replace: '<!-- more -->', '' }}
    {% include monogram.svg %}
  </div>

  {% include disqus.html %}
</article>
